/* _content/EventEngine/Views/Home/Index.cshtml.rz.scp.css */
.my-button[b-lmchc4k1in] {
    background-color: #007bff; /* Default button color */
    color: #fff; /* Default text color */
    font-size: 16px; /* Default font size */
    padding: 10px 20px; /* Default padding */
    transition: background-color 0.3s, transform 0.3s, font-size 0.3s; /* Transition properties for hover effect */
}

/* Button styles for hover state */
.my-button:hover[b-lmchc4k1in] {
    background-color: #0056b3; /* New button color on hover */
    color: #fff; /* New text color on hover */
    font-size: 18px; /* Larger font size on hover */
    transform: scale(1.1); /* Scale up the button on hover */
}
/* _content/EventEngine/Views/Shared/_Layout.cshtml.rz.scp.css */
/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-cruqxg1piu] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-cruqxg1piu] {
  color: #0077cc;
}

.btn-primary[b-cruqxg1piu] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-cruqxg1piu], .nav-pills .show > .nav-link[b-cruqxg1piu] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-cruqxg1piu] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-cruqxg1piu] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-cruqxg1piu] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-cruqxg1piu] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-cruqxg1piu] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
