html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

@font-face {
    font-family: "F534f29cca3b34705 - subset of Nocturno Display Std Bk";
    src: url("https://db.onlinewebfonts.com/t/c12a318af9a9786a89a3c2771c0bd905.eot");
    src: url("https://db.onlinewebfonts.com/t/c12a318af9a9786a89a3c2771c0bd905.eot?#iefix")format("embedded-opentype"), url("https://db.onlinewebfonts.com/t/c12a318af9a9786a89a3c2771c0bd905.woff2")format("woff2"), url("https://db.onlinewebfonts.com/t/c12a318af9a9786a89a3c2771c0bd905.woff")format("woff"), url("https://db.onlinewebfonts.com/t/c12a318af9a9786a89a3c2771c0bd905.ttf")format("truetype"), url("https://db.onlinewebfonts.com/t/c12a318af9a9786a89a3c2771c0bd905.svg#F534f29cca3b34705 - subset of Nocturno Display Std Bk")format("svg");
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    font-family: "F534f29cca3b34705 - subset of Nocturno Display Std Bk";
    margin-bottom: 60px;
    background-color: #f0ece0;
}

.my-button {
    background-color: #353148;
    color: #f0ece0; /* Default text color */
    font-size: 15px; /* Default font size */
    padding: 10px 20px; /* Default padding */
    transition: background-color 0.3s, transform 0.3s, font-size 0.3s; /* Transition properties for hover effect */
}

/* Button styles for hover state */
.my-button:hover {
    color: #BCA37F; /* New text color on hover */
    font-size: 20px; /* Larger font size on hover */
    transform: scale(1.1); /* Scale up the button on hover */
}

.big-button {
    background-color: #353148;
    color: #f0ece0; /* Default text color */
    font-size: 40px; /* Default font size */
    padding: 10px 20px; /* Default padding */
    transition: background-color 0.3s, transform 0.3s, font-size 0.3s; /* Transition properties for hover effect */
}

/* Button styles for hover state */
.big-button:hover {
    color: #BCA37F; /* New text color on hover */
    font-size: 50px; /* Larger font size on hover */
    transform: scale(1.1); /* Scale up the button on hover */
}

