@{
    ViewData["Title"] = "About Us";
}

<div class="about-us-container">
    <div class="about-us-header">
        <h1>@ViewData["Title"]</h1>
    </div>

    <div class="about-us-content">
        <div class="about-us-image">
            <img src="/images/us.png" alt="Our Team">
        </div>
        <div class="about-us-text">
            <p>We our EventEngine! We are passionate about bringing people together and helping you find inspiration for your gatherings and events.</p>
            <h3>Emily</h3> <hr />
            <p>Born and raised in New Zealand, I now live in Denmark where I enjoy hosting events to bring people from around the world together</p>
            <br />
            <h3>Marvin</h3> <hr />
            <p>I like to go for long walks, shout at inanimate objects, and eat biscuits.</p>
        </div>
    </div>
</div>
