@{
    ViewData["Title"] = "About Us";
}
<h1>@ViewData["Title"]</h1>

<p>Welcome to our website! We are passionate about bringing people together and helping you find inspiration for your gatherings and events.</p>
<p>Whether you're planning a big celebration, a cozy get-together, or anything in between, we've got you covered.</p>
<p>Use this page to learn more about us and our mission to make your events memorable and enjoyable.</p>
