<section class="Intro container">
    <div class="row">
        <div class="col-md-6">
            <p class="lead">
                Welcome! <br><br> This is the place to find inspiration for your next gathering,
                be it big or small, outdoor or indoor, formal or casual!<br><br>
                Get ideas from our popular event templates, or find your dream event by using the filters.
            </p>
        </div>
        <div class="col-md-6">

        </div>
    </div>
</section>

<section class="Topics container-fluid text-center">
    <div class="row">
        <div class="col-md-12 p-0 position-relative">
            <div class="image-container">
                <img src="~/images/table.jpg" alt="Table" class="w-100" />
                <a asp-area="" asp-controller="Events" asp-action="Index" class="btn my-button position-absolute" style="top: 27%; left: 70%;">Search</a>
                <a asp-area="" asp-controller="Home" asp-action="About" class="btn my-button position-absolute" style="top: 27%; left: 20%;">About</a>
                <a asp-area="" asp-controller="Home" asp-action="Contact" class="btn my-button position-absolute" style="top: 60%; left: 70%;">Contact</a>
                <a asp-area="" asp-controller="Home" asp-action="Reviews" class="btn my-button position-absolute" style="top: 60%; left: 20%;">Reviews</a>
            </div>
        </div>
    </div>
</section>
