<section class="Intro container">
    <div class="row">
        <div class="col-md-6">
            <p class="lead">
                Welcome! <br><br> This is the place to find inspiration for your next gathering,
                be it big or small, outdoor or indoor, formal or casual!<br><br>
                Get ideas from our popular event templates, or find your dream event by using the filters.
            </p>
        </div>
        <div class="col-md-6">

        </div>
    </div>
</section>

<section class="Topics container-fluid">
    <div class="row">
        <div class="col-md-6 p-0 position-relative">
            <div class="image-container">
                <img src="~/images/travel.jpg" alt="travel" class="w-100 " />
                <a asp-area="" asp-controller="Events" asp-action="Index" class="btn my-button position-absolute" style="top: 55%; left: 35%;">Search</a>
            </div>
        </div>
    </div>
    <div class="row justify-content-end ">
        <div class="col-md-6 p-0 position-relative ">
            <div class="image-container">
                <img src="~/images/drink.png" alt="drink" class="w-100" />
                <a asp-area="" asp-controller="Home" asp-action="About" class="btn my-button position-absolute" style="top: 35%; left: 57%; transform: rotate(0.08turn);">About</a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 p-0 position-relative">
            <div class="image-container">
                <img src="~/images/brush.png" alt="brushes" class="w-100" />
                <a asp-area="" asp-controller="Home" asp-action="Contact" class="btn my-button position-absolute" style="top: 27%; left: 20%;">Contact</a>
            </div>
        </div>
    </div>
</section>
